$background: #ffff;
$background-shade: #d1d1d1;
$text: #222225;
$secondary: #ca8bfe;
$primary: #a18aff;
$error: #fd99af;
$success: #3fd4f4;
$accent: #FFAC7F;
$font-weights: (
  "light": 300,
  "regular": 400,
  "bold": 700
);