@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");
@import "./resets";
@import "./variables";


html{scroll-behavior:smooth}

body {
  position: relative;
  font-family: "Nunito", sans-serif;
  background: $background;
  color: $text;
  font-size: 1rem;
  font-weight: map-get($font-weights, regular);
  display: flex;
  flex-direction: column;
}

a {
  color: $secondary;
}

.header {
  z-index: 3;
  position: absolute;
  height: 80px;
	top: 0; right: 0; left: 0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-ver1 {
    position: absolute;
    background-color: none;
  }

  &-ver2 {
    position: fixed;
    background-color: $text;
    color: $background;
  }

  & > * {
    margin-left: 5%;
    margin-right: 5%;
  }

  a {
    color: inherit; 
    text-decoration: none;
  } 
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  
  #{&}-img-icon {
    width: 50px;
  }

  #{&}-text {
    font-size: 2.5rem;
    font-weight: map-get($font-weights, bold);
    margin-left: 5px;
  }

  &-link {

    transition: 0.3s ease-in-out;
    &:hover {
      color: $success;
    }
  }
}

.header-links {
  font-size: 1.4rem;

  ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: map-get($font-weights, bold);
  }
  
  li {
    margin: 0;
    padding: 0;
    margin-left: 20px;
  }
}

.button {
  background: none;
  border: none;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 10px 35px;
  border-radius: 50px;
  transition: 0.3s ease-in-out;

  a {
    color: inherit; 
    text-decoration: none;
  }

  &-primary {
    color: $background;
    background-color: $primary;
  }

  &-success {
    color: $background;
    background-color: $success;
  }
  
  &:hover {
    transform: scale(.95);
    cursor: pointer;
  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  transition: color 0.3s ease-in-out;
  
  &:hover {
    color: $success;
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $success;
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
  height: 100vh;
  padding-top: 70px;
  background: rgb(161,138,255);
  background: linear-gradient(180deg, rgba(161,138,255,1) 9%, rgba(202,139,254,1) 44%, rgba(255,255,255,1) 85%);

  & > * {
    margin-right: 5%;
    margin-left: 5%;
  }

  &-left {
    h1 {
      font-size: 5rem;
      font-weight: map-get($font-weights, bold);
    }

    p {
      font-size: 1.5rem;
    }
  }

  &-left > * {
    margin-top: 15px;
  }

  &-right {
    position: relative;
    &-image-desktop {
      border-radius: 15px;
      width: 800px;
    }
  
    &-image-mobile {
      position: absolute;
      border-radius: 15px;
      width: 200px;
      left: -10px;
      bottom: -15px;
    }
  }
}

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 50px;

  & > * {
    margin-left: 5%;
    margin-right: 5%;
  }

  &-top {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    

    &-right {
      text-align: right;
      h1 {
        font-size: 5rem;
      }

      h3 {
        font-size: 1.5rem;
        color: $primary;
      }

      p {
        font-size: 1.25rem;
      }
    }
  }
  &-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    & > *:not(:first-child) {
      margin-left: 30px;
    }
  }

  &-card {
    position: relative;
    font-size: 1.5rem;
    & > * {
      margin-top: 15px;
    }


    a {
      margin-top: 15px;
      color: $text;
      font-weight: map-get($font-weights, bold);
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: lighten($text, 50%);
      top: -15px;
      left: 0; 
    }
  }
}
